.canvasChess {
    margin: auto;
    border: solid 5px #30475e;
    margin-top: 15%;
}
#mainBlockChess {
    margin: auto;
    height: 824px;
    width: 824px;
}
.win-message-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.win-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30475e;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    color: white;
}
h2 {
    height: min-content;
}
.win-message-button {
    width: 200px;
    height: 50px;
    background-color: #282c34;
}
